.project {
  color: #1c295d;

  .section {
    &:nth-child(1) {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
    }

    &:nth-child(odd) {
      background-color: #fff;
    }

    &:nth-child(even) {
      background-color: #f3f6fc;
    }

    .container {
      &.reverse {
        flex-direction: row-reverse;

        .img {
          margin-right: 44px;
          margin-left: 199px;
        }

        .intro {
          margin-left: 0;
        }
      }

      width: 1190px;
      margin: 0 auto;
      height: 460px;
      display: flex;
      justify-content: center;
      align-items: center;

      .img {
        margin-left: 44px;
        height: 300px;
      }

      .intro {
        width: 315px;
        margin-left: 211px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;

        .title {
          font-size: 37px;
          color: #303133;
        }

        .slogen {
          font-size: 20px;
          color: #8c8c8c;
          margin: 22px 0;
        }

        .info {
          height: 72px;
          font-size: 16px;
          color: #727485;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 18px;
          margin: 22px 0;
        }

        .more {
          position: relative;

          .button {
            display: inline-block;
            cursor: pointer;
            width: 96px;
            height: 32px;
            line-height: 32px;
            background-color: #456fff;
            border-radius: 16px;
            font-family: MicrosoftYaHei;
            font-size: 14px;
            text-align: center;
            color: #fff;
            z-index: 4545;
            box-shadow: 0 5px 4px -1px rgba(69, 111, 255, 0.44);

            &:hover {
              background-color: #688aff;
            }

            &:active {
              background-color: #688aff;
            }
          }
        }
      }
    }

    .more {
      width: 100%;
      padding: 0 20px;

      ::v-deep .el-card {
        border: none;

        &__header {
          border: none;
        }
      }

      img {
        margin: 10px 0;
        height: 256px;
      }

      .card-header {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        .card-item {
          font-size: 14px;
          margin-top: 20px;
        }
      }
      .card-header.go {
        margin: 0px 20px 0 20px;
        border-radius: 2%;
        position: relative;
        font-size: 16px;
        box-shadow: 0 5px 10px -5px black;
        pre {
          height: 300px;
          overflow: hidden;
        }
        .language-go{
          padding: 0;
        }
        svg {
          position: absolute;
          top: 10px;
          left: 10px;
        }
      }
      .card-item {
        min-height: 50px;
        color: #8c8c8c;

        .download {
          display: flex;
          height: 200px;
          justify-content: space-between;
          align-items: center;
          color: #fff;

          .download-item {
            padding: 20px 55px;
            border-radius: 2px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;

            .iconfont {
              font-size: 60px;
            }
          }

          .windows {
            background-color: #0066aa;

            &:hover {
              background-color: #f2f2f2;
              color: #0066aa;
            }
          }

          .apple {
            background-color: #a9a9a9;

            &:hover {
              background-color: #f2f2f2;
              color: #a9a9a9;
            }
          }

          .linux {
            background-color: #ee4433;

            &:hover {
              background-color: #f2f2f2;
              color: #ee4433;
            }
          }
        }
      }

     
    }
  }
}