.project {
  color: #1c295d;
  padding: 0 150px;
  margin-top: 60px;

  .section {
    .container {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .img {
        // margin-left: 35px;
        // width: 612px;
        height: 269px;
      }

      .intro {
        // width: 525px;
        .h2 {
          font-size: 26px;
          font-weight: 400;
          color: #E89424;
        }

        .h3 {
          font-size: 24px;
          font-weight: 400;
          color: #707070;
        }
      }
    }

    .more {
      margin-top: 100px;
      width: 100%;

      // padding: 0 20px;
      ::v-deep .el-card {
        border: none;

        &__header {
          border: none;
        }
      }

      img {
        margin: 10px 0;
        height: 256px;
      }

      .mh {
        // min-height: 400px;
      }

      .card {
        position: relative;
        min-height: 440px;
      }

      .card-header {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: #707070;

        .card-item {
          font-size: 14px;
          margin-top: 20px;
          width: 320px;
        }
      }

      .bottom {
        position: absolute;
        bottom: 0;

        .title {
          text-align: center;
          font-size: 26px;
          font-weight: bold;
          color: #707070;
        }
      }

      .card-header.go {
        border-radius: 2%;
        position: relative;
        font-size: 12px;
        box-shadow: 0 5px 10px -5px black;

        pre {
          height: 300px;
          overflow: hidden;
        }

        .language-go {
          padding: 0;
        }

        svg {
          position: absolute;
          top: 10px;
          left: 10px;
        }
      }

      .card-item {
        min-height: 50px;
        color: #707070;
        .download {
          display: flex;
          height: 200px;
          justify-content: space-between;
          align-items: center;
          color: #fff;

          .download-item {
            padding: 20px 55px;
            border-radius: 2px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;

            .iconfont {
              font-size: 60px;
            }
          }

          .windows {
            background-color: #5824E8;

            &:hover {
              background-color: #E8B424;
              color: #5824E8;
            }
          }

          .apple {
            background-color: #a9a9a9;

            &:hover {
              background-color: #E8B424;
              color: #a9a9a9;
            }
          }

          .linux {
            background-color: #E86024;

            &:hover {
              background-color: #E8B424;
              color: #E86024;
            }
          }
        }
      }
    }
  }
}